.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition-duration: 1s;
}

.about-content {
  padding-top: 5rem;
  width: 80%;
  margin: auto;
}

.about-content > p {
  text-align: center;
  padding-top: 2rem;
  width: 70%;
  margin: auto;
}
