.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition-duration: 1s;
}

.about-content {
  width: 80%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

.custom-card {
  padding: 1rem;
  width: 25rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem;
}
