header {
  background-color: var(--bg-primary);
  position: sticky;
  top: 0;
  z-index: 2000;
}

.logo-text {
  font-weight: 900;
  font-size: 2rem;
  color: var(--primary-text-color);
  position: relative;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 1rem;
  z-index: 10000;
  background-color: var(--bg-nav);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 32px;
}

.active {
  font-weight: 800;
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--primary-text-color);
  padding-bottom: 0.5rem;
}

nav ul li {
  padding: 20px;
}

.theme-button {
  background: none;
  padding: 16px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.theme-button img {
  height: 32px;
  width: 32px;
}

.theme-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*----------Hero Section---------------------------------------*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
  padding: 2rem;
}

.hero p {
  text-align: center;
}

.hero button {
  margin-top: 32px;
}

.hero-text {
  font-size: 80px;
  padding-left: 52px;
}

.hero-content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sub-content {
  width: 30%;
  margin-top: 3rem;
  text-align: center;
  line-height: 2;
}

.spacer {
  height: 220px;
}

.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition-duration: 1s;
  position: relative;
}
.pp {
  position: relative;
  cursor: pointer;
}
.pp::after {
  content: "Open To Work..";
  background-color: aqua;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  border-radius: 2rem 2rem 0rem 2rem;
  padding: 1rem;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
.pp:hover::after {
  visibility: visible;
  transition-duration: 0.5s;
  opacity: 1;
}

.profile-pic:hover {
  transform: scale(1.04);
}

.resume-btn {
  display: flex;
  align-items: center;
}

.resume-btn img {
  margin-right: 8px;
}

.resume-btn:hover {
  background-color: var(--btn-bg-hover);
  transition-duration: 0.3s;
}

.social-media {
  position: absolute;
  top: 25%;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

.social-media a {
  margin: 0.5rem;
  color: var(--icon-color);
  cursor: pointer;
  transition-duration: 0.2s;
}

.social-media .github:hover {
  color: #000000;
  transition-duration: 0.2s;
}
.social-media .linkedin:hover {
  color: #0a66c2;
  transition-duration: 0.2s;
}
.social-media .twitter:hover {
  color: #1d9bf0;
  transition-duration: 0.2s;
}
.social-media .youtube:hover {
  color: #ff0d00;
  transition-duration: 0.2s;
}

/*---------------------Spacing-------------------*/
.padd {
  padding: 4px;
}

/*Margin*/
.mt1 {
  margin-top: 0.5rem;
}

.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 4rem;
}

.ml1 {
  margin-left: 0.5rem;
}

.ml2 {
  margin-left: 1rem;
}

.ml3 {
  margin-left: 2rem;
}

/*Padding*/
.pt1 {
  padding-top: 0.5rem;
}

.pt2 {
  padding-top: 1rem;
}

.mb {
}
.ml {
  margin-left: 4px;
}

.mr {
}

.pt {
}

.pb {
}

.pl {
}

.pr {
}

/*------Comon Styles---------------*/

.primary-text {
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.light-text-color {
  color: var(--light-text-color);
}

.small-icon {
  width: 24px;
  height: 24px;
}

.medium-icon {
  width: 48px;
  height: 48px;
}

.large-icon {
  height: 100px;
  width: 100px;
}

.align-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.align-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-block {
  display: block;
}

.space-left {
  margin-left: 8px;
}

.space-right {
  margin-right: 12px;
}

.space-top {
  margin-top: 24px;
}

.underline {
  background-color: var(--btn-bg-color);
  width: 64px;
  height: 6px;
  border-radius: 4px;
  margin: auto;
}

.tas {
  text-align: center;
}

/*-----Blog Card and Contents Styles---------*/
.card {
  width: 24rem;
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 0.8rem;
  margin: 1rem;
  box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  -webkit-box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  -moz-box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  transition-duration: 0.2s;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}

.card-img {
  position: relative;
}
.card-img img {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  object-fit: cover;
}
.card-size {
  width: 100%;
}

.card-large {
  width: 70%;
  background-color: var(--card-bg);
  border-radius: 0.8rem;
  margin: 1rem;
  box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  -webkit-box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  -moz-box-shadow: 3px 5px 34px -2px rgba(36, 36, 36, 0.15);
  transition-duration: 0.2s;
  display: flex;
  flex-direction: row;
}

.blog-content {
  padding: 1rem 2rem 2rem 2rem;
}

.card-large img {
  width: 45%;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
  object-fit: cover;
}

.tag {
  background-color: var(--tag-bg-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.4rem;
  border-radius: 5rem;
}

.tag > p {
  color: var(--tag-text-color);
}

.topic {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.topic > p {
  padding: 0.8rem;
}
/*-----Blog Card and Contents Styles END---------*/

/*Common Styles*/

.text-btn-1 {
  color: #ffffff;
  font-weight: 800;
  background-color: var(--btn-bg-color);
  padding: 0.5rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.2rem;
  border: 2px solid var(--btn-bg-color);
}

.text-btn-2 {
  color: var(--btn-bg-color);
  font-weight: 800;
  display: inline-block;
  border-radius: 0.2rem;
}

.text-btn-1:after {
  content: "\00bb";
}

.card-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
